@font-face {
  font-family: Amare;
  src: url("../../assets/fonts/amarurgt.ttf");

}

@font-face {
  font-family: Amarello; 
  src: url("../../assets/fonts/Druk-Medium.otf") format("opentype");
  font-style: normal;
}
